@{
    ViewBag.title = "Posts";
}

@section Scripts
    {
    <script>alert("Hi")</script>
    }

    <div>
        <h1><a href="@Url.RouteUrl("home")">Knowledge Arsenal Blog</a></h1>
       
    </div>
